.button1
{
    padding: 5px 10px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    background-color: #6695B9;
    border: none;
    border-radius: 5px;
}

.button1:hover {background-color: #49789C}

.button1:active {
    background-color: #346387;
}